<!DOCTYPE html>
<html lang="sv-SE">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/@(nameof(EntreprenadPro)).styles.css"/>
</head>
<body id="body">
@if (User.Identity is { IsAuthenticated: true })
{
  <header>
    <nav>
      <ul>
        <li><a href="/Tid">Tid</a></li>
        <li><a href="/Projekt">Projekt</a></li>
        <li><a href="/Kunder">Kunder</a></li>
        <li><a href="/Fordon">Fordon</a></li>
        @if (User.IsInRole("Admin"))
        {
          <li><a href="/Anstallda">Anstallda</a></li>
        }
        <li><a href="/Worktypes">Arbetstyper</a></li>
        <li><a href="/Account/Manage">Mitt Konto</a></li>
        <li>
          <form id="logoutForm" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit">Logga ut</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    @RenderBody()
  </main>
}
else
{
  <main>
    @RenderBody()
  </main>
}
@await RenderSectionAsync("Scripts", false)
</body>
</html>

@{
  var notificationMessage = TempData["Notification-Message"];
  var notificationStatus = TempData["Notification-Type"];
}
@if (notificationMessage != null && notificationStatus != null)
{
  <div id="toast" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1055;">
    <div id="liveToast" class="toast show w-100 text-bg-@notificationStatus" role="alert" aria-live="assertive"
         aria-atomic="true" data-bs-delay="5000">
      <div class="d-flex">
        <div class="toast-body">
          @notificationMessage
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
      </div>
    </div>
  </div>
}
@await RenderSectionAsync("Scripts", false)