@{
  var headerExists = Context.Request.Headers.ContainsKey("X-Up-Version");

  if (!headerExists)
  {
    Layout = "_RootLayout";
  }
}
@if (User.Identity is { IsAuthenticated: true })
{
  <div id="content" class="container-fluid position-relative">
    <button class="btn nav-link px-3 text-dark position-absolute top-0 end-0 mt-2 me-1 d-md-none" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
            aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list h1"></i>
    </button>
    <div class="row">
      <div class="sidebar p-0 bg-body-tertiary vh-100 position-fixed z-3">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary h-100" tabindex="-1" id="sidebarMenu"
             aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                    aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column pt-lg-3">
            @await Html.PartialAsync("_LoginPartial")
          </div>
        </div>
      </div>
      <main role="main" class="pt-2" id="main">
        <div class="container">
          <h1>@ViewData["Title"]</h1>
          @RenderBody()
        </div>
      </main>
    </div>
  </div>
}
else
{
  <main>
    @RenderBody()
  </main>
}


@{
  var notificationMessage = TempData["Notification-Message"];
  var notificationStatus = TempData["Notification-Type"];
}
@if (notificationMessage != null && notificationStatus != null)
{
  <div id="toast" up-flashes class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1055;">
    <div id="liveToast" class="toast show w-100 text-bg-@notificationStatus" role="alert" aria-live="assertive"
         aria-atomic="true" data-bs-delay="5000">
      <div class="d-flex">
        <div class="toast-body">
          @notificationMessage
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
      </div>
    </div>
  </div>
}
@await RenderSectionAsync("Scripts", false)