@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.RazorPages
@using TimeReporting.Models

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<nav class="nav ms-2 d-flex flex-column h-100 justify-content-between">
@if (SignInManager.IsSignedIn(User))
{
  <div>
    <div class="d-flex flex-column align-items-center">
      @await Component.InvokeAsync("Timer")
      <hr class="mb-3 mx-3 w-100">
    </div>
    <ul class="nav flex-column">
      <li class="nav-item fw-bold">
        <a class="nav-link d-flex align-items-center gap-2"
           asp-page="/Reports/Index"
           up-alias="/Reports/*"
           up-target="main">
          <i class="bi bi-clock text-primary"></i> Time Overview
        </a>
      </li>
      <li class="nav-item fw-bold">
        <a class="nav-link d-flex align-items-center gap-2"
           asp-page="/Projects/Index"
           up-alias="/Projects/*"
           up-target="main">
          <i class="bi bi-kanban text-primary"></i> Projects
        </a>
      </li>
      <li class="nav-item fw-bold">
        <a class="nav-link d-flex align-items-center gap-2"
           asp-page="/Customers/Index"
           up-alias="/Customers/*"
           up-target="main">
          <i class="bi bi-people text-primary"></i> Customers
        </a>
      </li>
    </ul>
  </div>
  <ul class="justify-content-end nav flex-column">
    <hr class="my-3 mx-3">
    <li class="nav-item fw-bold">
      <a class="nav-link d-flex align-items-center gap-2"
         asp-page="/Account/Manage/Index"
         data-testid="ProfilePageLink"
         up-follow up-alias="/Account/*"
         title="Manage">
        <i class="bi bi-person text-primary"></i> Profile
      </a>
    </li>
    <li class="nav-item fw-bold">
      <a class="nav-link d-flex align-items-center gap-2"
         asp-page="/WorkTypes/Index"
         up-alias="/WorkTypes/*"
         up-follow title="Manage">
        <i class="bi bi-wallet text-primary"></i> Worktypes
      </a>
    </li>
    <li class="nav-item fw-bold">
      <form id="logoutForm" class="form-inline" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-link border-0"><i class="bi bi-door-closed text-primary"></i> Sign out</button>
      </form>
    </li>
  </ul>
}
</nav>
