@page "/tid"
@model EntreprenadPro.Pages.Tid.Index

<section class="d-flex flex-column gap-3">
  <form method="get" up-target="main" up-autosubmit up-history="false" class="row">
    <div class="col-4">
      <input
        id="selectedDateInput"
        class="form-control form-control-lg"
        data-testid="date-input"
        asp-for="SelectedDate"
        aria-label="Select date"/>
    </div>
  </form>
  <div class="row">
    <div class="col-4">
      <a asp-page="/Tid/Index"
         asp-route-SelectedDate="@((Model.SelectedDate == default ? DateTime.Today : Model.SelectedDate).AddDays(-1).ToString("yyyy-MM-dd"))"
         up-target="main"
         up-history="true"
         class="btn btn-outline-secondary btn-lg w-100 d-flex justify-content-center align-items-center"
         aria-label="Previous date">
        <i class="bi bi-chevron-left fs-4"></i>
      </a>
    </div>

    <div class="col-4">
      <a href="/tid/skapa"
         up-layer="new modal"
         up-accept-location="/tid"
         up-history="false"
         up-on-accepted="up.reload('.entries')"
         up-position="right"
         class="btn btn-primary btn-lg w-100 d-flex justify-content-center align-items-center">
        <i class="bi bi-plus-lg fs-4 text-light"></i>
      </a>
    </div>

    <div class="col-4">
      <a asp-page="/Tid/Index"
         asp-route-SelectedDate="@((Model.SelectedDate == default ? DateTime.Today : Model.SelectedDate).AddDays(1).ToString("yyyy-MM-dd"))"
         up-target="main"
         up-history="true"
         class="btn btn-outline-secondary btn-lg w-100 d-flex justify-content-center align-items-center"
         aria-label="Next date">
        <i class="bi bi-chevron-right fs-4"></i>
      </a>
    </div>
  </div>
  <div class="entries">
    <partial name="_TimeEntryCards" model="Model"/>
  </div>
</section>
