@page
@model TimeReporting.Pages.Employees.CreateModel
@{
  Layout = "_Layout";
}

<section>
  <h2>Add Employee</h2>
  <hr>
  <form method="post" up-target="main" up-transition="move-right">
    <div class="form-group mb-3">
      <label asp-for="Employee.FullName" class="control-label"></label>
      <input asp-for="Employee.FullName" class="form-control"/>
      <span asp-validation-for="Employee.FullName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Employee.Email" class="control-label"></label>
      <input asp-for="Employee.Email" class="form-control"/>
      <span asp-validation-for="Employee.Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Employee.Password" class="control-label"></label>
      <input asp-for="Employee.Password" class="form-control"/>
      <span asp-validation-for="Employee.Password" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Employee.ConfirmPassword" class="control-label"></label>
      <input  asp-for="Employee.ConfirmPassword" class="form-control"/>
      <span asp-validation-for="Employee.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Employee.PhoneNumber" class="control-label"></label>
      <input  asp-for="Employee.PhoneNumber" class="form-control"/>
      <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group row mb-3">
      <div class="col-auto">
        <label asp-for="Employee.JobTitle" class="control-label"></label>
        <input  asp-for="Employee.JobTitle" class="form-control"/>
        <span asp-validation-for="Employee.JobTitle" class="text-danger"></span>
      </div>
      <div class="col-auto">
        <label asp-for="Employee.HireDate" class="control-label"></label>
        <input asp-for="Employee.HireDate" class="form-control"/>
        <span asp-validation-for="Employee.HireDate" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</section>