html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.bi {
  color: black; /* Default color for light mode */
}

.up-current{
  background-color: #ffffff;
  text-decoration: underline;
  border-right: 0;
}

@media (prefers-color-scheme: dark) {
  .bi {
    color: white; /* Icon color for dark mode */
  }

  .up-current{
    background-color: #212529;
  }
}
.up-current::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
}