html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.bi {
  color: black; /* Default color for light mode */
}

.up-current{
  background-color: #ffffff;
  text-decoration: underline;
  border-right: 0;
}

@media (prefers-color-scheme: dark) {
  .bi {
    color: white; /* Icon color for dark mode */
  }

  .up-current{
    background-color: #212529;
  }
}
.up-current::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
}

.clock-wrapper {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.clock {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  position: relative;
}

.clock:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 8px;
  left: 48%;
  height: 25px;
  width: 2px;
  border-radius: 2px;
  transform-origin: 50% 97%;
  animation: grdAiguille 2s linear infinite;
}

.clock:before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 12px;
  left: 48%;
  height: 20px;
  width: 2px;
  border-radius: 2px;
  transform-origin: 50% 94%;
  animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/* Timer specific styles */
#timer .clock-wrapper {
  flex-shrink: 0;
}

#timer .alert {
  border-radius: 1rem;
}