@page
@model EntreprenadPro.Pages.Projects.Details.Documents

@{
  Layout = "Details/_ProjectDetailsLayout";
}

<section class="p-4">
  <h2>Dokument</h2>
  <p>Här kan du hantera dokument relaterade till projektet.</p>
</section>