@page
@model TimeReporting.Pages.WorkTypes.CreateModel

<section>
  <h2>Add new work type</h2>
  <hr />
  <form method="post" up-target="main">
    <div class="form-group mb-3">
      <label asp-for="WorkType.Name" class="form-label"></label>
      <input asp-for="WorkType.Name" class="form-control" />
      <span asp-validation-for="WorkType.Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="WorkType.HourlyRate" class="form-label"></label>
      <input asp-for="WorkType.HourlyRate" class="form-control" />
      <span asp-validation-for="WorkType.HourlyRate" class="text-danger"></span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</section>