@page
@model TimeReporting.Pages.WorkTypes.IndexModel

@{
  Layout = "_Layout";
}

<section class="container">
  <div class="d-flex justify-content-between">
    <h1 class="m-0">WorkTypes</h1>
      <a
        asp-page="Create"
        up-layer="new drawer"
        up-position="right"
        up-history="false"
        up-accept-location="/WorkTypes"
        up-on-accepted="up.reload('.worktypes')"
        class="btn btn-outline-success btn-lg d-flex justify-content-center align-items-center"><i class="bi bi-plus-lg"></i></a>
  </div>
  <hr>
  <div class="worktypes">
    @if(!Model.WorkTypes.Any())
    {
      <p>No worktypes found.</p>
    }
    else
    {
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Hourly rate</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var workType in Model.WorkTypes)
        {
          <tr>
            <td>@workType.Name</td>
            <td>@workType.HourlyRate</td>
            <td>
              <a class="btn btn-primary"
                 asp-page="./Edit"
                 up-layer="new drawer"
                 up-position="right"
                 asp-route-id="@workType.Id">Edit
              </a>
            </td>
          </tr>
        }
        </tbody>
      </table>
    }
  </div>
</section>