@model TimeReporting.Pages.Report.Index

<div class="card">
  <div class="row card-body">
    <div class="col">
    </div>
    <div class="col">
      <div class="d-flex justify-content-between align-content-end">
        <h1 data-testid="report-date">@Model.SelectedDate.Day.ToString()</h1>
        <button class="btn btn-info">Info</button>
      </div>
    </div>
  </div>
</div>