@page "/report"
@model TimeReporting.Pages.Report.Index


<section class="container min-vh-100">
  <div class="row">
    <form class="col-2" hx-post="/report?handler=Entries" hx-target="#entries" hx-swap="innerHTML" hx-trigger="change">
      <input data-testid="date-input" asp-for="SelectedDate" class="form-control"/>
      @Html.AntiForgeryToken()
    </form>
    <div class="col-9"></div>
    <a asp-page="/Report/Create" class="btn btn-outline-success col-1"><i class="bi bi-plus-lg"></i></a>
  </div>
  <hr>
  <div class="row">
    <div class="col" id="entries">
      @await Html.PartialAsync("_ReportsCurrentDay", Model)
    </div>
  </div>
</section>

@section Scripts {
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
}