@page "/report"
@model TimeReporting.Pages.Report.Index


<section class="container min-vh-100">
  <div class="row">
    <form class="col" hx-post="/report?handler=Day" hx-target="#day" hx-swap="innerHTML" hx-trigger="change">
      <input data-testid="date-input" asp-for="SelectedDate" class="form-control" name="SelectedDate"/>
      @Html.AntiForgeryToken()
    </form>
    <a asp-page="/Report/Create" class="btn btn-outline-success col"><i class="bi bi-plus-lg"></i></a>
  </div>
  <hr>
  <div class="row">
  </div>
</section>
