@page
@using EntreprenadPro.Helpers
@model EntreprenadPro.Pages.Fordon.SkapaModel

<section class="wrapper">
  <h2>Nytt fordon</h2>
  <hr>
  <form method="post" class="form">
    <div class="form-group">
      <label asp-for="Vehicle.Type">Typ av fordon</label>
      <select asp-for="Vehicle.Type" asp-items="@EnumHelper.GetSelectList<VehicleType>()">
      </select>
    </div>
    <div class="form-group">
      <label asp-for="Vehicle.SerialNumber"></label>
      <input asp-for="Vehicle.SerialNumber" placeholder="1234567890"/>
      <span asp-validation-for="Vehicle.SerialNumber"></span>
    </div>
    <div class="form-group">
      <label asp-for="Vehicle.RegistrationNumber"></label>
      <input asp-for="Vehicle.RegistrationNumber" placeholder="ABC123"/>
      <span asp-validation-for="Vehicle.RegistrationNumber"></span>
    </div>
    <div class="form-group">
      <label asp-for="Vehicle.Make"></label>
      <input asp-for="Vehicle.Make" placeholder="Volvo"/>
      <span asp-validation-for="Vehicle.Make"></span>
    </div>
    <div class="form-group">
      <label asp-for="Vehicle.Model"></label>
      <input asp-for="Vehicle.Model" placeholder="FH16"/>
      <span asp-validation-for="Vehicle.Model"></span>
    </div>
    <div class="form-group">
      <label asp-for="Vehicle.Year"></label>
      <input asp-for="Vehicle.Year" placeholder="2016"/>
      <span asp-validation-for="Vehicle.Year"></span>
    </div>
    <div class="form-group">
      <label asp-for="Vehicle.PurchasePrice"></label>
      <input asp-for="Vehicle.PurchasePrice"/>
      <span asp-validation-for="Vehicle.PurchasePrice"></span>
    </div>
    <div class="form-group">
      <label asp-for="Vehicle.PurchaseDate"></label>
      <input asp-for="Vehicle.PurchaseDate" type="date" asp-format="{0:yyyy-MM-dd}"/>
      <span asp-validation-for="Vehicle.PurchaseDate"></span>
    </div>
    <div class="form-group">
      <label asp-for="Vehicle.Note"></label>
      <textarea asp-for="Vehicle.Note" rows="4" placeholder="Anteckningar"></textarea>
      <span asp-validation-for="Vehicle.Note"></span>
    </div>
    @Html.AntiForgeryToken()
    <button class="btn btn-primary">Skapa</button>
  </form>
</section>
