@page
@model TimeReporting.Pages.Projects.CreateModel

@{
   Layout = "_Layout";
}

<section>
  <h2>New Project</h2>
  <hr>
  <form method="post" up-target="main">
    <div class="row mb-3">
      <div class="col-6">
        <label class="control-label">Customer</label>
        <div class="input-group">
          <select asp-for="Project.CustomerId" class="form-select customer-selection">
            <option value="">-- Select Customer --</option>
            @foreach (var customer in Model.Customers)
            {
              <option value="@customer.Id">@customer.Name</option>
            }
          </select>
          <a
            class="btn btn-outline-secondary rounded-end"
            href="/Customers/Create"
            up-layer="new modal"
            up-history="false"
            up-accept-location="/Customers"
            up-on-accepted="up.reload('.customer-selection')">
            New
          </a>
        </div>
        <span asp-validation-for="Project.CustomerId" class="text-danger"></span>
      </div>
      <div class="col-6">
        <label asp-for="Project.Name" class="control-label"></label>
        <input asp-for="Project.Name" class="form-control"/>
        <span asp-validation-for="Project.Name" class="text-danger"></span>
      </div>
    </div>
    <div class="mb-3">
      <label asp-for="Project.Description" class="control-label"></label>
      <textarea asp-for="Project.Description" rows="5" cols="100" class="form-control"></textarea>
      <span asp-validation-for="Project.Description" class="text-danger"></span>
    </div>
    <div>
      <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
  </form>
</section>