@page
@model DeletePersonalDataModel
@{
  ViewData["Title"] = "Tag bort persolig data";
  ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>
<strong>Datan som tas bort kommer att tas bort för alltid.</strong>
<form method="post">
  @if (Model.RequirePassword)
  {
    <div class="form-group">
      <label asp-for="Input.Password"></label>
      <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Admin123!"/>
      <span asp-validation-for="Input.Password"></span>
    </div>
  }
  <button class="button-danger">Ta bort data samt mitt konto</button>
</form>