@page
@model ExternalLoginModel
@{
  ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr/>
<p id="external-login-description">
  You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
  Please enter an email address for this site below and click the Register button to finish
  logging in.
</p>
<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
  <div class="form-group">
    <label asp-for="Input.Email"></label>
    <input asp-for="Input.Email" autocomplete="email" placeholder="Vänligen fyll i din mail."/>
    <span asp-validation-for="Input.Email"></span>
  </div>
  <button>Register</button>
</form>
