@page
@model LoginModel

<section class="col-4 mt-5">
  <h1>Logga in</h1>
  <form id="account" method="post">
    <hr/>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
      <input asp-for="Input.Email" class="form-control" autocomplete="username" data-testid="email-input"
             aria-required="true" placeholder="namn@exempel.se"/>
      <label asp-for="Input.Email" class="form-label">E-post</label>
      <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
      <input asp-for="Input.Password" class="form-control" data-testid="password-input" autocomplete="current-password"
             aria-required="true" placeholder="lösenord"/>
      <label asp-for="Input.Password" class="form-label">Lösenord</label>
      <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="checkbox mb-3">
      <label asp-for="Input.RememberMe" class="form-label">
        <input class="form-check-input" data-testid="remember-me-checkbox" asp-for="Input.RememberMe"/>
        Kom ihåg mig
      </label>
    </div>
    <div>
      <button id="login-submit" type="submit" data-testid="submit-button" class="w-100 btn btn-lg btn-primary">Logga in
      </button>
    </div>
  </form>
</section>