section {
  display: flex;
  justify-content: center;

  & > form {
    border-color: var(--clr-border);
    background-color: var(--clr-bg-secondary);
    display: grid;
    gap: var(--spacing-sm);
    padding: var(--spacing-xl);
    border-radius: var(--spacing-lg);
  }
}