@page
@model RegisterModel
<section>
  <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h2>Skapa en administratör för din organisation</h2>
    <hr/>
    <div class="form-group">
      <label asp-for="Input.Email">E-post</label>
      <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="namn@exempel.se"/>
      <span asp-validation-for="Input.Email"></span>
    </div>
    <div class="form-group">
      <label asp-for="Input.FullName">Fullständigt namn</label>
      <input asp-for="Input.FullName" autocomplete="fullname" aria-required="true" placeholder="Adrian Bodin"/>
      <span asp-validation-for="Input.FullName"></span>
    </div>
    <div class="form-group">
      <label asp-for="Input.JobTitle">Jobbtitel</label>
      <input asp-for="Input.JobTitle" autocomplete="fullname" aria-required="true" placeholder="Maskinförare"/>
      <span asp-validation-for="Input.JobTitle"></span>
    </div>
    <div class="form-group">
      <label asp-for="Input.PhoneNumber">Telefonnummer</label>
      <input asp-for="Input.PhoneNumber" autocomplete="phone" aria-required="true" placeholder="0723456789"/>
      <span asp-validation-for="Input.PhoneNumber"></span>
    </div>
    <div class="form-group">
      <label asp-for="Input.Password">Lösenord</label>
      <input asp-for="Input.Password" autocomplete="password" aria-required="true" placeholder="Admin123!"/>
      <span asp-validation-for="Input.Password"></span>
    </div>
    <div class="form-group">
      <label asp-for="Input.ConfirmPassword">Bekräfta lösenord</label>
      <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Admin123!"/>
      <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <button>Registrera</button>
  </form>
</section>