@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<section class="container">
  <div class="d-flex justify-content-between">
    <h1 class="m-0">Customers</h1>
    <a
        asp-page="Create"
        up-layer="new popup"
        up-position="bottom"
        up-align="right"
        up-history="false"
        up-accept-location="/Customers"
        up-on-accepted="up.reload('.customers')"
        class="btn btn-outline-success btn-lg d-flex justify-content-center align-items-center"><i class="bi bi-plus-lg"></i></a>
  </div>
  <hr>
  <div class="customers">
  @if(!Model.Customers.Any())
  {
    <p>No customers found.</p>
  }
  else
  {
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>EIN</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var customer in Model.Customers)
      {
        <tr>
          <td>@customer.Name</td>
          <td>
            <a asp-page="./Edit" asp-route-id="@customer.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@customer.Id">Details</a> |
          </td>
        </tr>
      }
      </tbody>
    </table>
  }
  </div>
</section>

