@page
@model Create
@{
  Layout = "_Layout";
}

<form method="post" up-target="main" class="add-entry-form">
  <h1>New time entry</h1>
  <hr>
  <label asp-for="NewEntry.CustomerId" class="form-label">Customer</label>
    <div class="mb-3 input-group">
      <select asp-for="NewEntry.CustomerId" class="form-select">
        <option value="">Select a customer</option>
        @foreach (var customer in Model.Customers)
        {
          <option value="@customer.Id">@customer.Name</option>
        }
      </select>
      <a
        href="/Customers/Create"
        up-layer="new modal"
        up-history="auto"
        up-accept-location="/Customers"
        up-on-accepted="up.reload('.add-entry-form')">
        <button class="btn btn-primary rounded-right" type="button">
          New
        </button>
      </a>
      <span class="text-danger" asp-validation-for="NewEntry.CustomerId"></span>
    </div>
    <div class="mb-3">
      <label asp-for="NewEntry.Hours" class="form-label">Hours</label>
      <input type="number" min="0" step="0.5" asp-for="NewEntry.Hours" class="form-control"/>
      <span class="text-danger" asp-validation-for="NewEntry.Hours"></span>
    </div>
    <div class="mb-3">
      <label asp-for="NewEntry.Description" class="form-label">Description</label>
      <textarea asp-for="NewEntry.Description" class="form-control"></textarea>
      <span class="text-danger" asp-validation-for="NewEntry.Description"></span>
    </div>
    <div class="mb-3">
      <label asp-for="NewEntry.Date" class="form-label">Date</label>
      <input asp-for="NewEntry.Date" class="form-control"/>
      <span class="text-danger" asp-validation-for="NewEntry.Date"></span>
    </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>